body {
  margin: 0;
  padding: 0;
  background: #7f84bc;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box_cards {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  gap: 10px;
}
.card {
  width: 150px;
  height: 150px;
  border-radius: 2px;
  cursor: pointer;
  /* background: #000; */
}
